.buat-transaksi-pembelian {
    margin-top: 50px;
}

.buat-transaksi-pembelian h2 {
    text-align: center;
}

.other {
    margin-top: 20px;
}

/*.buat-transaksi-pembelian-form {
    margin-top: 40px;
    text-align: center;
}*/