{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static "vendor/bootstrap/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/register.css" %}">
{% endblock style %}


{% block content %}
<div class="container register">
    <div>
        <h2>Register to Farmakami24</h2>
    </div>
    <div class="register-form">
        <div class="dropdown">
            <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select role
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/register/admin">Admin</a>
                <a class="dropdown-item" href="/register/konsumen">Konsumen</a>
                <a class="dropdown-item" href="/register/kurir">Kurir</a>
                <a class="dropdown-item" href="/register/cs">CS</a>
            </div>
        </div>
    </div>
    <div class="other">
        <a href="/login">Login</a>
        <br>
        <a href="/">Welcome</a>
    </div>
</div>
{% endblock content %}